<body >
    <nav class="navbar">
      <div class="navbar-container container">
          <input type="checkbox" name="" id="">
          <div class="hamburger-lines">
              <span class="line line1"></span>
              <span class="line line2"></span>
              <span class="line line3"></span>
          </div>
          <ul class="menu-items">
              <li><a href="#home">Home</a></li>
              <li><a href="#about">About</a></li>
              <li><a href="#web">Services</a></li>
              <li><a href="#web-menu">Clients</a></li>
              <li><a href="#contact">Contact</a></li>
          </ul>
          <h1 class="logo">TRANZITA SYSTEMS</h1>
      </div>
  </nav>
    <section class="showcase-area" id="showcase">
      <div class="showcase-container">
        <h1 class="main-title" id="home" >LIVE.. LEARN.. CODE..</h1>
        <p>Binary thinking: It either works, or it doesn't. There is no try-catch in life.</p>
        <a href="https://www.tranzita.com/" class="btn btn-primary">OFFICIAL WEBSITE</a>
      </div>
    </section>

    <section id="about">
      <div class="about-wrapper container">
        <div class="about-text">
          <p class="small">About Us</p>
          <h3>10+</h3><h4> YEARS experience</h4><br>
          <h3>130+</h3><h4> PROJECST finished</h4>
          <p style="text-align: justify;">
            Founded by IIT Graduates, Tranzita was started in the year 2011 with the aim of building power BI dashboards on the low level manufacturing machine data. With 100+ projects in manufacturing around data, we are now the industry favourites when it comes to building data pipelines and insightful dashboard on desktop as well as mobile.          </p>
        </div>
        <div class="about-img">
          <img src="..\assets\images\office.png" alt="office" />
        </div>
      </div>
    </section>
    <section id="web">
      <h2>Types of Services</h2>
      <div class="web-container container">
        <div class="web-type fruite">
          <div class="img-container">
            <img src="https://www.tranzita.com/images/icon/big.svg" alt="error" />
            <div class="img-content">
              <h3>Data Engineering</h3>
            </div>
          </div>
        </div>
        <div class="web-type vegetable">
          <div class="img-container">
            <img src="https://www.tranzita.com/images/icon/smartphone.svg" alt="error" />
            <div class="img-content">
              <h3>Mobile Apps</h3>
              
            </div>
          </div>
        </div>
        <div class="food-type grin">
          <div class="img-container">
            <img src="https://www.tranzita.com/images/icon/marketing.svg" alt="error" />
            <div class="img-content">
              <h3>Microsoft Power BI / Power App</h3>
              
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- <br>
    <br> -->
    <section id="web-menu">
      <h2 class="web-menu-heading">Our Trusted Clients</h2>
      <div class="web-menu-container container">
        <div class="web-menu-item">
          <div class="web-img">
            <img  src="https://www.tranzita.com/images/client/merck.svg" alt="" />
          </div>
          <div class="web-description">
           <p style="text-align: justify;">Merck & Co., Inc. is an American multinational pharmaceutical company headquartered in Rahway, New Jersey, and is named for Merck Group, founded in Germany in 1668, of whom it was once the American arm.</p>
          </div>
        </div>

        
        <div class="web-menu-item">
          <div class="web-img">
            <img
              src="https://www.tranzita.com/images/client/P2Power.svg"
              alt="error"
            />
          </div>
          <div class="web-description">
            <p style="text-align: justify;"> P2 Power Solutions was founded in 2006 with a vision to develop and provide avant-garde technical solutions to the Indian Industry.We have all the relevant certifications from CE, CPRI, TUV, and KEMAfor our products. Also, our R&D facility hasbeen accredited as a DSIR recognized lab bythe Ministry of Science and Technology</p>

          </div>
        </div>
        <div class="web-menu-item">
          <div class="web-img">
            <img src="https://www.tranzita.com/images/client/cargo-partner.svg" alt="" />
          </div>
          <div class="web-description">
            <p style="text-align: justify;">cargo-partner is a privately owned full-range info-logistics provider offering a comprehensive portfolio of air, sea, land transport and warehousing services, with special expertise in information technology and supply chain optimization.</p>

          </div>
        </div>

      </div>
    </section>
    <section id="contact">
      <div class="contact-container">
        <div class="contact-img">
          <img src="..\assets\images\contact-us.png" alt="" />
        </div>

        <div class="form-container">
          <h2>Contact Us</h2>
          <input type="text" placeholder="Your Name" />
          <input type="email" placeholder="E-Mail" />
          <textarea
            cols="30"
            rows="6"
            placeholder="Type Your Message"
          ></textarea>
          <a href="#" class="btn btn-primary">Submit</a>
        </div>
      </div>
    </section>
    <footer id="footer">
      <h2>TRANZITA SYSTEMS &copy; all rights reserved</h2>
    </footer>
  </body>