<h1 style="text-align: center;color: darkslategray;"> ASSIGNMENT-1</h1>
<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <ol>
        <li> Creating two components , one manually and one with CLI</li>
        <li> show them in App Component</li>
        <li>
          Styled them completely using external and inlone css
        </li>
      </ol>
      <hr>
    <app-warning-alert></app-warning-alert>
    <app-successful-alert></app-successful-alert>
    </div>
  </div>
</div>